<%= form_for(paw) do |f| %>
  <% if paw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paw.errors.count, "error") %> prohibited this paw from being saved:</h2>

      <ul>
      <% paw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
