
<div class="container" style="padding-top: 70px">
	<div class="row">
		<div class="col-6">
			<%= @story.body.html_safe %>
			<%= link_to 'Edit', edit_story_path(@story) %>
		</div>
	</div>
</div>



