<nav class="navbar fixed-top navbar-light" style="background-color: #e8ecef">
  <div class="row justify-content-around">
	<div class="navbar-header">
	            <a class="navbar-brand" href="/">
				#lookforpaws</a>
			</div>
		    <ul class="nav justify-content-center">
		        	<li class="nav-item">
		             <strong><a class="nav-link" href="/paws/new" style="color: #000">Upload</a></strong>
                     </li>
                     <li class="nav-item">
		             <strong><a class="nav-link" href="/" style="color: #000">Look</a></strong>
                     </li>
             </ul>
  </div>
</nav>